<!--Zoom effect-->
<div class="row">
    <div class="col-xl-3 col-md-12 mt-5" *ngFor="let project of projects">
        <div class="view overlay zoom z-depth-3"  (click)="openProject(project._id)">
            <img [src]="project.iconic_image" class="img-fluid" style="height: 35vh; width: 100%;" alt="zoom">
            <div class="mask flex-center waves-effect waves-light rgba-blue-light">
              <h5 class="text-white">{{ project.name | uppercase }}</h5>
            </div>
        </div>
</div>

