<h2 mat-dialog-title>Create New Projects</h2>
<hr>
<mat-dialog-content>

    <div class="mt-3">

        <form [formGroup]="createProjectForms">    

            <div class="row">
                <div class="col-xl-6 col-md-12">
                    <div class="form-group">
                        
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-rocket fa-lg mt-2"></i>
                          </div>
                          <input class="form-control ml-3" placeholder="Project Name" formControlName="name"/>
                        </div>
                      </div>
                </div>
    
                <div class="col-xl-6 col-md-12">
                   
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-file fa-lg mt-2"></i>
                          </div>
                          <input class="form-control ml-3" placeholder="Project Code" formControlName="code"/>
                        </div>
                      </div>
                    
                </div>
                
            </div>


            <div class="row mt-3">

                  <div class="col-xl-6 col-md-12">
                      <div class="form-group">
                          
                          <div class="input-group">
                            <div class="input-group-addon">
                              <i class="fa fa-server fa-lg mt-2"></i>
                            </div>
                            <input class="form-control ml-3" placeholder="Descriptions" formControlName="description"/>
                          </div>
                        </div>
                  </div>
    
                  <div class="col-xl-6 col-md-12">
                    <div class="form-group">
                        
                        <div class="input-group">
                          <div class="input-group-addon">
                            <i class="fa fa-map-marker fa-lg mt-2"></i>
                          </div>
                          <input class="form-control ml-3" placeholder="location" formControlName="location"/>
                        </div>
                      </div>
                </div>
                
            </div>


            <mat-label class="mt-5" style="margin-left: 38px;">Category</mat-label>
            <div class="row mt-2">
              

              <div class="col-xl-6 col-md-12">
                
                  <div class="form-group">

                      <div class="input-group">

                            <div class="input-group-addon">
                              <i class="fa fa-server fa-lg mt-2"></i>
                            </div>
                      
                            <mat-select (selectionChange)="selectCategory($event)" class="form-control ml-3">
                              <mat-option>-----</mat-option>
                              <mat-option *ngFor="let category of categories" [value]="category?.name">
                                {{ category?.name }}
                              </mat-option>
                            </mat-select>
                            
                      </div>
                    
                  </div>
                  
              </div>


              <div class="col-xl-6 col-md-12">
                <div class="form-group ml-3">
                    
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-usd fa-lg mt-2"></i>
                      </div>
                      <input class="form-control ml-3" placeholder="Cost" formControlName="value"/>
                    </div>
                  </div>
            </div>
            
            </div>

            <div class="row mt-2">
              <div class="col-xl-6 col-md-12">

                <div class="form-group mt-3 ml-5">

                  <mat-form-field color="accent" appearance="fill">
                    <mat-label>Custruction Date</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Construction Date" formControlName="construction_date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker color="primary"></mat-datepicker>
                  </mat-form-field>

                </div>
                
              </div>


              <div class="col-xl-6 col-md-12">

                <div class="form-group">
                    
                  <div class="input-group">

                    <div class="input-group-addon">
                      <i class="fa fa-camera-retro fa-lg mt-2"></i>
                    </div>

                    <button mat-stroked-button class="ml-2" type="button" (click)="filePicker.click()">Pick Image</button>
                    <input type="file" #filePicker (change)="imagePicker($event)"/>

                  </div>
                </div>

                <div class="image-preview" *ngIf="imagePreview">
                  <img [src]="imagePreview" alt="image preview">
              </div>

              </div>
            </div>
        </form>

    </div>
    

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <div *ngIf="
      createProjectForms.controls.name.invalid || 
      createProjectForms.controls.code.invalid || 
      createProjectForms.controls.description.invalid || 
      createProjectForms.controls.location.invalid || 
      createProjectForms.controls.category.invalid || 
      createProjectForms.controls.value.invalid || 
      createProjectForms.controls.construction_date.invalid ||
      createProjectForms.controls.image.invalid">

      <button mat-button  disabled [mat-dialog-close]="true">Create</button>
    </div>
   
    <div *ngIf="
      createProjectForms.controls.name.valid && 
      createProjectForms.controls.code.valid && 
      createProjectForms.controls.description.valid && 
      createProjectForms.controls.location.valid && 
      createProjectForms.controls.category.valid && 
      createProjectForms.controls.value.valid && 
      createProjectForms.controls.construction_date.valid &&
      createProjectForms.controls.image.valid">
      <button mat-button (click)="submit()" color="primary" [mat-dialog-close]="true" cdkFocusInitial>Create</button>
    </div>
</mat-dialog-actions>