<!-- Card -->
<div class="card " style="height: 200px;">

    <!-- Card image -->
    
  
    <!-- Card content -->
    <div class="card-body blue-gradient">
  
      <!-- Title -->
      <h5 class="card-title text-white"><i class="fa fa-envelope"></i>&nbsp; CONTACTS</h5>
      
      <!-- Text -->
      <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <!-- Button -->
      
  
    </div>
  
  </div>
  <!-- Card -->