<!--Navbar -->
<nav *ngIf="userIsAuthenticated" class="mb-1 h-5 navbar navbar-expand-lg grey darken-4">
    <a class="navbar-brand text-white" href="#">PRIDAC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa fa-list text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
       
        <li class="nav-item active text-white">
            <a class="nav-link waves-light" mdbWavesEffect><i class="fa fa-home"></i>&nbsp; Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#"><i class="fa fa-envelope"></i>&nbsp; Contact</a>
          </li>
         
          <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user"></i>&nbsp; Profile
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" aria-labelledby="navbarDropdownMenuLink-333">
                <a class="dropdown-item waves-light" mdbWavesEffect (click)="myProfile()">
                  <img  class="avatar-xl rounded-circle" [src]="image" />My account</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect (click)="logout()">Log out</a>
            </div>
          </li>
          <li>&nbsp;&nbsp;&nbsp;</li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->
  
